<!DOCTYPE html>
<html lang="de">
<head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Indikatorenportal</title>

  <link rel="stylesheet" href="assets/bootstrap.min.css">
  <link rel="stylesheet" href="assets/custom.css" type="text/css">

  <script src="assets/jquery.min.js" type="text/javascript"></script>
  <script src="assets/bootstrap.min.js" type="text/javascript"></script>
  <!--<script src="assets/application.js" type="text/javascript" defer="defer" async="async"></script> -->
  <script src="assets/filter.js" type="text/javascript"></script>
  <script src="assets/indikatoren_filters.js" type="text/javascript"></script>
  <script src="assets/svg-injector.min.js" type="text/javascript"></script>
</head>

<body>
    <main>


<div class="container-fluid">
	<div class="row">
		<div class="col-sm-3 col-md-2">
      <!--<div class="filter-block-title">Filter</div> -->
      <div class="filter-container filter-reset"><button class="btn btn-link btn-xs btn-block" onclick="uncheckAll()">Filter zurücksetzen</button></div>
      <div class="filter-container"><input type="text" id="searchbox" class="searchbox" placeholder="Suche..."></div>
      <div class="filter-container" id="filter_thema"><span class="filter-title">Thema</div>
      <div class="filter-container" id="filter_kennzahlenset"><span class="filter-title">Kennzahlenset</div>
      <div class="filter-container" id="filter_raeumlicheGliederung"><span class="filter-title">Räumliche Gliederung</div>
      <div class="filter-container" id="filter_schlagwort"><span class="filter-title">Schlagwort</div>
      <div class="filter-container hidden" id="filter_colors"><span class="filter-title">Color</span></div>
  	</div>

	<div class="col-sm-9 col-md-10">
					<div class="page-header">
		<h1> Indikatoren </h1>
	</div>

  <div class="row" style="display:none;">

    <div class="col-sm-3 col-sm-offset-7 inline-labeling nbm">
      <label for="l-sort-by">Sort By:</label>
      <select name="Sort_By" id="l-sort-by" class="corners">
        <option value="disp_order">Default</option>
        <option value="name_asc">Name Ascending</option>
        <option value="name_desc">Name Descending</option>
        <option value="newest">Newest</option>
      </select>
    </div>

    <div class="col-sm-2 inline-labeling nbm">
      <label for="l-per-page">View:</label>
      <span id="per_page"><select size="1" name="per_page" data-perpage="true" class="per-page">      <option value="15">15</option>      <option value="30">30</option>      <option value="60">60</option>      <option value="All">All</option>  </select></span>
    </div>
  </div>

  <div class="row catalog-view-themas">
    <div class="col-xs-12 items-container">
      <div id="filtered_themas" class="row"><div class="col-sm-4 col-xs-6 item column half small-one-third category-thema fjs_item" id="fjs_1">
    </div>
  </div>

		<script>
		//<![CDATA[
      var themas = [
                    {
    "url": "https://charts.basleratlas.ch/indikatoren/Grafik-0.1.a.html",
    "title":"Indikator 0.1.a",
    "image":"images/0-1-a.jpg",
    "description":"Wie zufrieden sind Sie mit dem Wohnungsangebot?",
    "id":"3",
    "thema":" Bevölkerung",
    "kennzahlenset":"Wohnraum",
    "color":["Red","Orange"],
    "raeumlicheGliederung":["Wohnviertel"],
    "schlagwort":["Heimat","Gebäude","Personal"],
  },
                      {
    "url": "https://charts.basleratlas.ch/indikatoren/Grafik-0.1.b1.html",
    "title":"Indikator 0.1.b1",
    "image":"images/0-1-b1.jpg",
    "description":"Mietpreisentwicklung nach Zimmerzahl",
    "id":"16",
    "thema":" Bevölkerung",
    "kennzahlenset":"Arbeitsmarkt",
    "color":["Black","Blue","Red","Green","Yellow","Grey","Purple","White","Orange"],
    "raeumlicheGliederung":"",
    "schlagwort":["Einkommen","EuroAirport","Geschlecht","Haushalt"],
  },
                      {
    "url": "https://charts.basleratlas.ch/indikatoren/Grafik-0.1.b2.html",
    "title":"Indikator 0.1.b2",
    "image":"images/0-1-b2.jpg",
    "description":"Mietpreisentwicklung der Leerwohnungen nach Zimmerzahl",
    "id":"17",
    "thema":" Bevölkerung",
    "kennzahlenset":"Arbeitsmarkt",
    "color":["Transparent"],
    "raeumlicheGliederung":["Wohnblockseite"],
    "schlagwort":["Einkommen","EuroAirport","Geschlecht","Haushalt"],
  },
                      {
    "url": "https://charts.basleratlas.ch/indikatoren/Grafik-0.1.b3.html",
    "title":"Indikator 0.1.b3",
    "image":"images/0-1-b3.jpg",
    "description":"Mietpreisentwicklung der 3-Zimmerwohnungen",
    "id":"18",
    "thema":" Bevölkerung",
    "kennzahlenset":"Arbeitsmarkt",
    "color":["Black","Yellow","White","Transparent"],
    "raeumlicheGliederung":["Kanton"],
    "schlagwort":["Einkommen","EuroAirport","Geschlecht","Haushalt"],
  },
                      {
    "url": "https://charts.basleratlas.ch/indikatoren/Grafik-0.1.c.html",
    "title":"Indikator 0.1.c",
    "image":"images/0-1-c.jpg",
    "description":"Wohnungsbelegung nach Belegungsart",
    "id":"21",
    "thema":" Bevölkerung",
    "kennzahlenset":"Arbeitsmarkt",
    "color":["Black","Red","White"],
    "raeumlicheGliederung":["Kanton"],
    "schlagwort":["Einkommen","EuroAirport","Geschlecht","Haushalt"],
  },
                      {
    "url": "https://charts.basleratlas.ch/indikatoren/Grafik-1.1.a.html",
    "title":"Indikator 1.1.a",
    "image":"images/1-1-a.jpg",
    "description":"Bevölkerung am Jahresende",
    "id":"22",
    "thema":" Bevölkerung",
    "kennzahlenset":"Integration",
    "color":["Blue","Red","Orange"],
    "raeumlicheGliederung":["Kanton"],
    "schlagwort":["Ausländer","Religion"],
  },
                      {
    "url": "https://charts.basleratlas.ch/indikatoren/Grafik-1.2.a.html",
    "title":"Indikator 1.2.a",
    "image":"images/1-2-a.jpg",
    "description":"Wohnungsbestand nach Zimmerzahl",
    "id":"23",
    "thema":" Bevölkerung",
    "kennzahlenset":"Wohnraum",
    "color":["Transparent"],
    "raeumlicheGliederung":["Block","Wohnblockseite"],
    "schlagwort":["Heimat","Gebäude","Personal"],
  },
                      {
    "url": "https://charts.basleratlas.ch/indikatoren/Grafik-1.2.b.html",
    "title":"Indikator 1.2.b",
    "image":"images/1-2-b.jpg",
    "description":"Wohnungsbestand nach Wohnflächenkategorie",
    "id":"24",
    "thema":" Bevölkerung",
    "kennzahlenset":"Wohnraum",
    "color":["Blue","Red","White","Silver"],
    "raeumlicheGliederung":"",
    "schlagwort":["Heimat","Gebäude","Personal"],
  },
                      {
    "url": "https://charts.basleratlas.ch/indikatoren/Grafik-1.2.c1.html",
    "title":"Indikator 1.2.c1",
    "image":"images/1-2-c1.jpg",
    "description":"Nettoproduktion an neuen Wohnungen",
    "id":"39",
    "thema":" Bevölkerung",
    "kennzahlenset":"Integration",
    "color":["Black","Blue","Red","Green","Yellow","Grey","Purple","White"],
    "raeumlicheGliederung":"",
    "schlagwort":["Haushalt","Ausländer","Religion"],
  },
                      {
    "url": "https://charts.basleratlas.ch/indikatoren/Grafik-1.2.c2.html",
    "title":"Indikator 1.2.c2",
    "image":"images/1-2-c2.jpg",
    "description":"Umbausaldo nach Art des Umbaus",
    "id":"40",
    "thema":" Bevölkerung",
    "kennzahlenset":"Wohnraum",
    "color":["Black","Blue","Red","Green","Yellow","Grey","Purple","White","Orange"],
    "raeumlicheGliederung":"",
    "schlagwort":["Heimat","Gebäude","Personal"],
  },
                      {
    "url": "https://charts.basleratlas.ch/indikatoren/Grafik-1.2.e.html",
    "title":"Indikator 1.2.e",
    "image":"images/1-2-e.jpg",
    "description":"Anzahl neu erstellte Wohnungen",
    "id":"63",
    "thema":" Bevölkerung",
    "kennzahlenset":"Integration",
    "color":["Transparent"],
    "raeumlicheGliederung":["Block","Wohnblockseite"],
    "schlagwort":["Haushalt","Ausländer","Religion"],
  },
                      {
    "url": "https://charts.basleratlas.ch/indikatoren/Grafik-1.2.f1.html",
    "title":"Indikator 1.2.f1",
    "image":"images/1-2-f1.jpg",
    "description":"Anzahl Leerwohnungen und Leerwohnungsquote nach Zimmerzahl",
    "id":"64",
    "thema":" Bevölkerung",
    "kennzahlenset":"Wohnraum",
    "color":["Blue"],
    "raeumlicheGliederung":["Kanton"],
    "schlagwort":["Heimat","Gebäude","Personal","Haushalt"],
  },
                      {
    "url": "https://charts.basleratlas.ch/indikatoren/Grafik-1.2.f2.html",
    "title":"Indikator 1.2.f2",
    "image":"images/1-2-f2.jpg",
    "description":"Anzahl Leerwohnungen und Leerqohnungsquote nach Wohnflächenkategorie",
    "id":"15",
    "thema":"Raum und Umwelt",
    "kennzahlenset":"Wohnraum",
    "color":["Blue","Red"],
    "raeumlicheGliederung":"",
    "schlagwort":["Heimat","Gebäude","Personal"],
  },
                      {
    "url": "https://charts.basleratlas.ch/indikatoren/Grafik-1.3.a.html",
    "title":"Indikator 1.3.a",
    "image":"images/1-3-a.jpg",
    "description":"Wohnungsbestand nach Wohnflächenkategorie",
    "id":"19",
    "thema":"Raum und Umwelt",
    "kennzahlenset":"Wohnraum",
    "color":["Blue","Red"],
    "raeumlicheGliederung":"",
    "schlagwort":["Heimat","Gebäude","Personal"],
  },
                      {
    "url": "https://charts.basleratlas.ch/indikatoren/Grafik-1.4.a1.html",
    "title":"Indikator 1.4.a1",
    "image":"images/1-4-a1.jpg",
    "description":"Haushalte nach Art des Haushalts",
    "id":"20",
    "thema":"Raum und Umwelt",
    "kennzahlenset":"Wohnraum",
    "color":["Blue","Red"],
    "raeumlicheGliederung":"",
    "schlagwort":["Heimat","Gebäude","Personal"],
  },
                      {
    "url": "https://charts.basleratlas.ch/indikatoren/Grafik-1.4.a2.html",
    "title":"Indikator 1.4.a2",
    "image":"images/1-4-a2.jpg",
    "description":"Familienhaushalte nach Art der Zusammensetzung",
    "id":"38",
    "thema":"Raum und Umwelt",
    "kennzahlenset":"Wohnraum",
    "color":["Blue","Red"],
    "raeumlicheGliederung":["Gemeinde"],
    "schlagwort":["Heimat","Gebäude","Personal"],
  },
                ];
    //]]>
  </script>



  <script id="radio_template" type="text/html">
    <div class="radio">
      <label>
        <input type="radio" value="<%= value %>" <%= selected ? 'checked' : ''%> data-label="<%= name %>" name="<%= title %>">
        <span><%= name %><%= postfix %></span>
      </label>
    </div>
  </script>

  <script id="checkbox_template" type="text/html">
    <div class="checkbox">
      <label>
        <input type="checkbox" value="<%= value %>" <%= selected ? 'checked' : ''%> data-label="<%= name %>">
        <span><%= name %><%= postfix %></span>
      </label>
    </div>
  </script>

  <script id="array_radio_template" type="text/html">
    <div class="radio">
      <label>
        <input type="radio" value="<%= value %>" data-label="<%= name %>" name="<%= title %>">
        <span><%= name %></span>
      </label>
    </div>
  </script>

  <script id="array-template" type="text/html">
    <div class="checkbox">
      <label>
        <input type="checkbox" value="<%= value %>">
        <span><%= name %></span>
      </label>
    </div>
  </script>

  <script id="thema_template" type="text/html">
    <div class="col-md-2 col-sm-4 col-xs-6 item column half small-one-third category-thema">
      <h5><%= title %></h5>
      <a href="<%= url %>" title="<%= title %>: <%= description %>">
      <img src="<%= image %>" alt="<%= title %>: <%= description %> " title="<%= title %>: <%= description %> " class="img-responsive"/>
      </a>
    </div>
  </script>

  <script id="pagination_template" type="text/html">
    <span class="page-links-container">
      <strong class="semibold">Pages:</strong>
      <% if(currentPage > 1) { %>
        <a href="#" data-page="first">First</a>
      <% } %>
      <% for(var i = 0, l = pages.length; i < l; i++ ){ %>
        <a href="#" data-page="<%= pages[i] %>" class="<%= pages[i] == currentPage ? 'page-links-active' : 'page-links-inactive' %>"><%= pages[i] %></a>
      <% } %>
      <% if( currentPage < totalPages ) { %>
        <a href="#" data-page="last">Last</span></a>
      <% } %>
    </span>
  </script>
  <script language="JavaScript">
  <!--

    function uncheckAll()
    {
      allInp = document.getElementsByTagName("input");
      for (i = 0; i < allInp.length; i++)
      {
        if (allInp[i].type == "radio")
        {
          allInp[i].checked = false;
          FJS.filter();
        }
      }
    }

  //-->
  </script>
		</div>
	</div>
</div>
</main>
