/* @override http://sealkingeurope.com/templates/thistemplate/css/custom.css */


/* Grijze tekstblokken */
.block-blue-var-1 h2{color: #424242}

.block-blue-var-1{background-color: #eaeaea;
}


/* Contact Us blok */
.block-gray-lighter{background-color: rgba(234,234,234,0.33);color: #424242}

.btn-link,.btn-link.active,.btn-link:active,.btn-link[disabled],fieldset[disabled] .btn-link{background-color:transparent;-webkit-box-shadow:none;box-shadow:none;
	color: #4e8f00;
	font-size: 12px;
	text-transform: uppercase;
	text-decoration: underline;
	font-weight: bold;
}

.filter-container{min-height:20px;background-color:#f5f5f5;border: 1px solid #d5d5d5;border-radius:4px;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.05);box-shadow:inset 0 1px 1px rgba(0,0,0,.05);margin-bottom:5px;padding: 10px;line-height: 1.5;}


/* Headerbar */
.headerbar .h1,.headerbar h1{color: #feffff;letter-spacing: .3px;
	font: italic bold 32px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;}


.headerbar{background-image:-webkit-linear-gradient(left,#9f1814 0,#f62a1a 100%);background-image:-o-linear-gradient(left,#9f1814 0,#f62a1a 100%);background-image:linear-gradient(to right,#660000 0,#f62a1a 100%);background-repeat:repeat x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff9f1814', endColorstr='#fff62a1a', GradientType=1);
	border-bottom: 1px solid #feffff;
}

.headerbar>.container{background-color:transparent;background-image:url(../images/curl.png);background-repeat:no-repeat;background-position:100% 100%;background-size:initial;
}

/* imagecarousel */
.carousel-inner>.item>a>img,.carousel-inner>.item>img,.img-responsive,.thumbnail a>img,.thumbnail>img{display:block;max-width:100%;height:auto;
}

/* video */
.embed-container a .fa-overlay{top:50%;left:50%;position:absolute;margin-left:-25px;margin-top:-30px;text-shadow:rgba(0,0,0,.3) 1px 1px 1px}


.fa-play-circle:before{content:"\f01d";
	color: #feffff;
}

.col-sm-4 p{ margin:12 0 14px;
}


/* Productpage */
.product-color {display:inline-block;width:20px;height:20px;border:2px solid #fff;background-color:#fff;margin-right:4px; border-radius: 10px;}

.product-specs .h2,.product-specs h2{letter-spacing:.1px; font-weight:100;
}
.product-specs .h3,.product-specs dt,.product-specs h3{color:grey;font-size:14px;letter-spacing:
.1px;font-weight:400;}



